:root{
    /*Aca van las variables*/
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --warm-black1:#282623;
    --grey:#BABABA;
    --offwhite:#FAF8F7;
    --justwhite:#FFFFFF;

    /*fuentes*/

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

html
{
    font-size: 62.5%;
    font-family:'Lucida Sans';
    background-color: white
}

.header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
    align-items: center;
    background-color: #1A9AF7;
}

.presentation
{

    width: 50%;
    min-width: 200px;
    max-width: 280px;
    display: flex;
    flex-direction:column;
   
}



.inactive
{
    display: none;
}


.header__social-network-imglinks{
    display: flex;
    flex-direction: row;


}

.header__social-network-imglinks img{

    width: 80%;
    min-width: 30px;
    max-width: 40px;
    padding: 3px;
    justify-content: space-around;

}

nav .nav-menu
{
    width: 100%;
    display: inline-flex;
    justify-content:space-evenly;
    height: 45px;
    padding: 5px;
}

.nav-menu li
{
    padding: 10px;
    background-color:brown;
    border-radius: 8px;
    text-decoration: none;

}

.nav-menu a
{

    font-size: 1.4rem;
    text-decoration: none;

}


.sections_aside-main
{
    width: 100%;
    display:inline-flex;
    flex-direction: row;
}


.projects-done__boton-container
{
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 120px;
    background-color: #1A9AF7;
    margin-top: 5px;
    border-radius: 15px;
    
}
.main-projects-containers
{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 5px;


}

.main-projects-containers p
{
    font-size: 1.8rem;
}


aside a
{

    min-width: 100px;
    max-width: 180px;
    background-color: white;
    text-decoration: none;   
    border-radius: 8px;
    padding: 10px;
    margin: 10px auto 0px;
    height: 40px;
    font-size: 1.2rem;

}


.projects-done-_preview-container
{

    display: flex;
    flex-direction:column;



}

.projects-done-_preview-container img
{
    width: 40% ;

}





