


/* font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif; */

/*
1. Posicionamiento
2. Modelo de caja (Box Model)
3. Tipografia
4. Estilos Visuales
5. Miscelanea u Otros

*/

:root{
    /*Colores*/
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --warm-black1:#282623;
    --grey:#BABABA;
    --offwhite:#FAF8F7;
    --justwhite:#FFFFFF;

    /*fuentes*/

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif ;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 288px;
    max-width: 900px;
    width: 100%;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;

}
    header img{
        width: 150px;
        height: 240px;
        align-self: center;
        margin-top: 60px;
    }

    .header--title-container{
        width: 90%;

        height: 218px;
        align-self: center;
        text-align: center;
        margin-top: 40px;


    }
    .header--title-container h1{


        font-style: normal;
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 26px;
        color: var(--justwhite);

    }
    header p{
        margin-top: 25px;
        margin-bottom: 50px;
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 18px;
        color: var(--soft-orange);

    }
    .header--title-container .header--button{
        position: absolute;
        left: calc(50% - 11.5rem);
        display: block;
        top: 280px;
        margin-top: 35px;
        width: 230px;
        height: 48px;
        padding: 15px;
        background-color: var(--offwhite);
        /*sombra*/
        box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
        border: none;
        border-radius: 5px;
        font-size: 1.4rem;
        text-decoration: none;
        color: var(--warm-black);
        font-weight: bold;
        
    }
    header span
    {
        background-image: url("../assets/icons/arrowdown.svg");
        display: inline-block;
        width: 13px;
        height: 8px;

}

main
{
    display:flex;
    flex-direction: column;
    height: auto;
    width:100%;
    min-width: 288px;
    max-width: 900px;
    background-color: var(--offwhite);



}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px ;
    text-align: center;

    }



    .main-exchange-container .backgroundImg{
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 50px;
        background-image: url(../assets/images/bitcoin.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .main-exchange-container h2{
        font-size: 24px;
        color: var(--warm-black);
        margin: 0px auto 30px auto;
        font-weight: bold;
        line-height: 26px;
        width: 80%;
    }

    .main-exchange-container p{
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 18px;
        color: #757575;
        margin: 0 auto 48px auto;
        width: 80%;

        
    }



    .main-tables-container{
        width: 60%;
        margin: 0 auto;



    }

    .main-tables-container__h3__monedas{

        font-weight: bold;
        color: var(--bitcoin-orange);
        font-size: 1.8rem;
        text-align: start;
        margin-bottom: 12px;
        
    }

    .main-tables-container__h3__comisiones{

        font-weight: bold;
        color: var(--secondary-blue);
        font-size: 1.8rem;
        text-align: start;
        margin-bottom: 12px;
        
    }
    .main-tables-container__Monedas
    {

        display: grid;
        align-items: center;
        width: 100%;
        grid-template-columns: 50% 30% 20%;
        grid-template-rows: repeat(4, 39px);
        background-color: var(--justwhite);
        border-radius: 15px;
        margin-bottom: 12px;

    }

    .main-tables-container__Comisiones
    {

        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(4, 39px);
        background-color: var(--justwhite);
        border-radius: 15px;
        margin-bottom: 12px;


    }
    .main-tables-container__Monedas h4 , .main-tables-container__Comisiones h4{

        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.6rem;
        color: #B5B0AC;
        text-align: start;
        line-height: 17px;
        padding: 10px;
        
    }
    .main-tables-container__Monedas h5, .main-tables-container__Comisiones h5{


        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 17px;
        text-align: center;
        color: #757575;
        letter-spacing: -0.02em;
        padding: 10px;

        
    }


    .main-tables-span__tenderdown{
        width: 20px;
        height: 20px;
        background-image: url(../assets/icons/trending-down\ 1.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        align-items: center;
    }

    .main-tables-span__tenderup{
        width: 20px;
        height: 20px;
        background-image: url(../assets/icons/trending-up\ 1.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        align-items: center;
    }

    .main-tables-container p{
        font-family: 'Inter';
        font-style: normal;
        font-size: 1.2rem;
        line-height: 15px;
        width: 173px;
        height: 31px;
        padding: 8px;
        gap: 10px;
        border-radius: px;
        margin: 0 auto;
        margin-bottom: 10px;
    }


    .main-tables-container__p-monedas
    {
        background-color: var(--soft-orange);
    }

    .main-tables-container__p-comisiones
    {
        background-color: var(--soft-blue);
    }

.main-product-detail{
    
    min-width: 288px;
    max-width: 900px; /*esto hace que el contenedor se ajsute hasta los 900px*/
    background-color: var(--warm-black);
    width: 100%;
    align-self: center;
    justify-content: center;

}

.batalogo {

    position: absolute;
    left: calc(50% + -25px);
    width: 50px;
    height: 45px;
    background-image: url(../assets/images/batalogo.svg);
    background-repeat: no-repeat;
    margin-top: -10px;

}

.main-product-detail h2{

    font-size: 2.4rem;
    color: var(--justwhite);
    font-weight: 700;
    margin-top: 51px;
    line-height: 2.6rem;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 51px;

}

.texto{

    font-size: 1.4rem;
    color: #808080;
    font-weight: 500;
    line-height: 1.8rem;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 32px;
}

.contenedor_cajas{
    display: flex;
    flex-direction: column;    

}


.main-product-detail_caja{


    background-color: var(--warm-black1);
    margin:0 auto 16px auto;
    border-radius: 5px;
    height: 152px;
    width: 80%;
    

}

.main-product-detail_caja h3{

    font-size: 1.8rem;
    font-weight: bold;
    color: var(--justwhite);
    line-height: 1.8rem;
    margin: 48px 20px 10px 16px;

}

.main-product-detail_caja p{
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080;
    margin-left: 16px;
    margin-right: 20px;

}



.main-product-detail_caja span{

    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 16px;
    margin-right: 20px;
    margin-top: 14px;

}


.icono-tiempo-real
{
    background-image: url(../assets/icons/clock1.svg)
}

.icono-tasas
{

    background-image: url(../assets/icons/eye1.svg);
}

.icono-compara-menedas
{

    background-image: url(../assets/icons/dollar-sign1.svg);
}

.icono-informacion-confiable
{

    background-image: url(../assets/icons/check-circle1.svg);
}



.main-product-imagen{
    min-width: 288px;
    max-width: 900px; /*esto hace que el contenedor se ajsute hasta los 900px*/
    height: 387px;
    background-image: url(../assets/images/bitcoinbaby1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-product-imagen p{
    width: 100%;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--justwhite);
    margin-top: 64px;
    text-align: center;

}



footer{

    background-color: #F7931A;
    height: 120px;
}