:root{
    /*Colores*/
    --very-light-pink :#C7C7C7;
    --white: #FFFFFF;
    --text-input-field: #F7F7F7;
    --black:#000000;
    --hospital-green:#ACD9B2;
    --dark:#232830;
    --input-gray:#797979;
    

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body
{
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--white);
    
}

html{
    font-size: 62.5%;

}

.imagen-logo
{
    width: 100%;
    display: inline-flex;
    padding-top: 114px;
    padding-bottom: 48px;
    
}


.logo
{
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 206px;
    height: 43px;
    background-image: url(../assets/img/logo_yard_sale.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.log-in-input-info
{
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 180px;
    max-width: 340px;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-items: center;
}
.log-in__label
{
    font-size: 1.4rem;
    line-height: 1.75rem;
    font-weight: bold;
    padding: 8px 0;

}

.log-in__input
{
    
    border: none;
    width: 100%;
    height:42px ;
    justify-items: center;
    left: 0;
    right: 0;
    background-color: var(--text-input-field);
    border-radius: 10px;
    font-size: 1.6rem;
    font-family: 'Quicksand', sans-serif;
    color: var(--input-gray);
    text-indent: 10px;

}

.links-log_in-Forgot-Password
{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    text-align: center;

}

.log-in_boton
{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--hospital-green);
    font-size: 1.8rem;
    margin: 30px auto;
    padding: 12px;
    color:var(--white);
    font-weight: bold;
    text-decoration: none;
    
}
.forgot-link
{
    
    width: 100%;
    font-size: 1.4rem;
    color:var(--hospital-green);
    text-decoration: none;
    font-weight: 500;

}

.sign-up_boton
{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid;
    border-color: var(--hospital-green);
    background-color: transparent;
    font-size: 1.8rem;
    margin: 30px auto;
    padding: 12px;
    color:var(--hospital-green);
    font-weight: bold;
    text-decoration: none;
    
}

.navigation-bar_Desktop
{
    display: none;
}


/*Estilos adicioanles para pagina NewPassword*/

.new-password
{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    text-align: center;
}


.new-password_inputs
{
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 180px;
    max-width: 340px;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-items: center;
}
.new-password__label
{
    font-size: 1.4rem;
    line-height: 1.75rem;
    font-weight: bold;
    padding: 8px 0;

}

.new-password__input
{
    
    border: none;
    width: 100%;
    height:42px ;
    justify-items: center;
    left: 0;
    right: 0;
    background-color: var(--text-input-field);
    border-radius: 10px;
    font-size: 1.6rem;
    font-family: 'Quicksand', sans-serif;
    color: var(--input-gray);
    text-indent: 10px;
}

/*Estilos adicioanles para la pagina Password Recovery 1*/
.Password-recovery-info
{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    text-align: center;
}

.Password-recovery-info :nth-child(1), .new-password :nth-child(1)
{
    font-size: 1.8rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding: 10px;

}

.Password-recovery-info :nth-child(2), .new-password :nth-child(2)
{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--input-gray)

}


.new-password__confirm
{
    display: flex;
    width: 100%;
    text-align: center;

}
.new-password__confirm-boton
{
    height: 50px;
    width: 90%;
    border-radius: 10px;
    background-color: var(--hospital-green);
    font-size: 1.8rem;
    margin: 30px auto;
    padding: 12px;
    color:var(--white);
    font-weight: bold;
    text-decoration: none;
    
}