@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');


* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html 
{
    font-size: 62.5%;
}


:root {

    --white: hsl(0, 0%, 100%);
    --Light_grayish_violet: hsl(270, 3%, 87%);
    --Dark_grayish_violet: hsl(279, 6%, 55%);
    --Very_dark_violet: hsl(278, 68%, 11%);
    --gradiant1: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --redinputerror: hsl(0, 100%, 66%);
    --font1:'DynaPuff';
    --font2: 'Space Grotesk';

  }
body {
    margin: 0;
    background-color: var(--white);
  }


  img 
  {
      width: 240px;

  }

#back_card
  {
      position: relative;
      top:3vh;
      left:19vw;
  }

.textovercardfront ,.textovercardback 
{
    color: var(--white);
    font-family: var(--font2);
    position:absolute;

}
#front_card
  {
      position: absolute;
      top:18vh;
      right:15vw;
  }

#cardhnumberfront
{
    top: 30vh;
    left:18vw;
    font-size: large;
    font-family: var(--font2);
}

#cardholderfront
{
    top: 37vh;
    left: 18vw;
    font-size: x-small;
    font-family: var(--font2);
}

#cardexpirationdate
{
    top: 37vh;
    right: 19vw;
    font-size: x-small;
    font-family: var(--font2);
}

#cvcback
{
    top:14vh;
    right:14vw
}
.labelinput
{
    font-family: var(--font2);
    font-weight:700;
    color: var(--Very_dark_violet);
    font-size: 1.2rem;

}
.espacio
{
    display: inline-block;
    height: 100vh;
    
}

.user_form
    {
        display: flex;
        flex-direction: column;
        margin-top: 9vh;
        height: 55vh;
        width: 100vw;
    }

.nameandcardnumber
{
    display: grid;
    justify-self: center;
    grid-template-columns: 90%;
    grid-template-rows: 12% 33% 12% 33% 8%;
    justify-content: center;
    width: 100%;
    height: 50%;    
}
.texto-fecha-codigo
{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 50% 5% 5% 30%;
    grid-template-rows: 100%;
    justify-content: center;
    width: 100%;
    height: 10%;
    align-items: end;

}
.in-fecha-codigo
{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-columns: 25% 25% 10% 30%;
    grid-template-rows: 95% 5%;
    justify-content: center;
    width: 100%;
    height: 20%;
    align-items: end;

}
.botonenviar
{
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 20%;

}

input
{
    font-family: var(--font2);
    align-content: center;
    border-style:solid;
    border-color: var(--Light_grayish_violet);
}

.input-text
{
    height: 5vh;
    border-radius: 5px;
    width: 100%;
    height: 90%;

}


.background_card
    {

        display: inline-flex;
        width: 100vw;
        height: 35vh;
        background-color: var(--Very_dark_violet);
    }



   
button
    {

        border-radius: 10px;
        color: white;
        background-color: var(--Very_dark_violet) ;
        width: 90%;
        height: 70%;
        font-family: var(--font2);


    }
    .card_info
{
    height: 5vh;
    border-radius: 5px;
    margin-top: 10px ;
    margin-bottom: 10px;   

}
    #texto1
    {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    #texto2
    {
        grid-column-start: 4;
        grid-row-start: 1;
    }

    .infomonth
    {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .infoyear
    {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .infocvc
    {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #errorMM
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #erroryy
    {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #errorCVC
    {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }



.card1
{
    margin-right: 5px;
}

    
    


@media (min-width: 376px) 
{

    .background_card
    {
        width: 40vw;
        height: 100vh;
    }
    img 
    {
        width: 320px;

    }

    #front_card
    {
        position: absolute;
        top:18vh;
        left:15vw;
    }

    #back_card
    {
        position: absolute;
        top:55vh;
        left:25vw;
    }
    .espacio
{
    display: flex;
    height: 100vh;
}
.user_form
    {
        display: flex;
        height: 60vh;
        width: 35vw;
        margin-top: 28vh;
        margin-left:20vw ;
    }
   


}
