@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');


* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html 
{
    font-size: 62.5%;
}


:root {

    --white: hsl(0, 0%, 100%);
    --Light_grayish_violet: hsl(270, 3%, 87%);
    --Dark_grayish_violet: hsl(279, 6%, 55%);
    --Very_dark_violet: hsl(278, 68%, 11%);
    --gradiant1: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --redinputerror: hsl(0, 100%, 66%);
    --font1:'DynaPuff';
    --font2: 'Space Grotesk';

  }
body {
    margin: 0;
    background-color: var(--Light_grayish_violet);
  }

span
{
    font-family: var(--font2);
    font-weight: 500;
    margin: 10px 0px 0px 15px;

}


.input-text
{
    height: 5vh;
    border-radius: 5px;
    width: 80vw;
    margin: 10px 0px 10px 0px;
}

.espacio
    {
        display: grid;
        grid-template-rows: 1fr 4fr;
        border-style: solid;
        border-color:green;
        height: 100vh;

    }
    .background_card
    {
        border-style: solid;
        border-color: yellow;
        display: inline-flex;
        width: 100vw;
        height: 35vh;
        background-color: var(--Very_dark_violet);
    }
        .card
    {
        display: block;
        width: 100%;
        height: 50%;
        padding: 10px;
    }
    img 
    {
        width: 240px;

    }

    #back_card
    {
        position: absolute;
        top:3vh;
        right:5vw;
    }
    #front_card
    {
        position: absolute;
        top:16vh;
        right:15vw;
    }
    .user_form
    {
        display:flex;
        flex-direction: column;
        margin-top: 5vh;
        padding: 5px;
        border-style: solid;
        border-color: yellow;
    }
    .card_info
    {
        width: 15vw;
 
    }
    .input-text
    {
        height: 5vh;
        border-radius: 5px;
        width: 80vw;
        margin: 10px 0px 10px 0px;
    }
    .card_info
    {
    height: 5vh;
    border-radius: 5px;
    width: 15vw;
    margin: 10px 0px 10px 0px;
    }
    
    button
    {
        position: absolute;
        border-radius: 5px;
        color: white;
        background-color: var(--Very_dark_violet) ;
        width: 80vw;
        height: 6vh;
        font-family: var(--font2);


    }
    


@media (min-width: 376px) 
{

    .espacio
    {
        display:grid;
        grid-template-columns: 1fr 1fr;
        border-style: solid;
        border-color:green;
        height: 100vh;

    }
    .background_card
    {

        border-style: solid;
        border-color: yellow;
        width: 30vw;
        height: 100vh;
        background-color: var(--Very_dark_violet);
    }
    img 
    {
        width: 300px;

    }

    #back_card
    {
        position: absolute;
        top:55vh;
        left:15vw;
    }
    #front_card
    {
        position: absolute;
        top:26vh;
        left:10vw;
    }
    .user_form
    {
    
    display: flex;
    flex-direction:column;

    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 150px;
    right:20px;
    border-style: solid;
    border-color: yellow;
    padding: 3vw;
    }

    .input-text
{
    height: 5vh;
    border-radius: 5px;
    width: 40vw;
    margin: 10px 0px 10px 0px;
}

.card_info
{
    height: 5vh;
    border-radius: 5px;
    width: 5vw;
    margin: 10px 0px 10px 0px;
}
button
{
    position: absolute;
    border-radius: 5px;
    color: white;
    background-color: var(--Very_dark_violet) ;
    width: 40vw;
    height: 6vh;
    font-family: var(--font2);


}

}

