@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');


* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html 
{
    font-size: 62.5%;
}


:root {

    --white: hsl(0, 0%, 100%);
    --Light_grayish_violet: hsl(270, 3%, 87%);
    --Dark_grayish_violet: hsl(279, 6%, 55%);
    --Very_dark_violet: hsl(278, 68%, 11%);
    --gradiant1: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --redinputerror: hsl(0, 100%, 66%);
    --font1:'DynaPuff';
    --font2: 'Space Grotesk';

  }
body {
    margin: 0;
    background-color: var(--Light_grayish_violet);
  }

span
{
    font-family: var(--font2);
    font-weight: 500;
    margin: 10px 40px 0px 0px;

}

.nameandcardnumber
{
    display: grid;
    justify-self: center;
    grid-template-columns: 90%;
    grid-template-rows: 15% 35% 15% 35%;
    justify-content: center;
    width: 100%;    
}

.input-text
{
    height: 5vh;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0px 10px 0px;
}


.background_card
    {

        display: inline-flex;
        width: 100vw;
        height: 35vh;
        background-color: var(--Very_dark_violet);
    }

img 
    {
        width: 240px;

    }

#back_card
    {
        position: relative;
        top:3vh;
        left:19vw;
    }
#front_card
    {
        position: absolute;
        top:18vh;
        right:15vw;
    }
.user_form
    {
        display: flex;
        flex-direction: column;
        margin-top: 9vh;


        height: 45vh;
        width: 100vw;
    }
   
button
    {

        border-radius: 5px;
        color: white;
        background-color: var(--Very_dark_violet) ;
        width: 90%;
        height: 6vh;
        font-family: var(--font2);


    }

.botonenviar
{
    display:flex;
    width: 100%;
    justify-content: center;

}


    .texto-fecha-codigo
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        display: grid;
        grid-template-columns: 50% 5% 5% 30%;
        grid-template-rows: 100%;
        justify-content: center;
        width: 100%;

    }

    .in-fecha-codigo
    {
        display: grid;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-template-columns: 25% 25% 10% 30%;
        grid-template-rows: 100%;
        justify-content: center;
        width: 100%;

    }

    .card_info
{
    height: 5vh;
    border-radius: 5px;
    margin-top: 10px ;
    margin-bottom: 10px;   

}
    #texto1
    {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    #texto2
    {
        grid-column-start: 4;
        grid-row-start: 1;
    }
    .infomonth
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .infoyear
    {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .infocvc
    {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .infomonth
    {
        grid-column-start: 1;
        grid-row-start: 1;
    }

input
{
    font-family: var(--font2);

    align-content: center;
}
.card1
{
    margin-right: 5px;
}

    
    

/* 
@media (min-width: 376px) 
{

    .espacio
    {
        display:grid;
        grid-template-columns: 1fr 1fr;
        border-style: solid;
        border-color:green;
        height: 100vh;

    }
    .background_card
    {

        border-style: solid;
        border-color: yellow;
        width: 30vw;
        height: 100vh;
        background-color: var(--Very_dark_violet);
    }
    img 
    {
        width: 400px;

    }

    #back_card
    {
        position: absolute;
        top:62vh;
        left:16vw;
    }
    #front_card
    {
        position: relative;
        top:28vh;
        left:10vw;
    }
    .user_form
    {
    
    display: flex;
    flex-direction:column;

    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 150px;
    right:20px;
    border-style: solid;
    border-color: yellow;
    padding: 3vw;
    }

    .input-text
{
    height: 5vh;
    border-radius: 5px;
    width: 40vw;
    margin: 10px 0px 10px 0px;
}

.inputs-fecha-codigo
{
 display: flex;
 justify-content: space-evenly;


}


.card_info
{
    height: 5vh;
    border-radius: 5px;
    width: 9vw;
    margin-top: 10px ;
    margin-bottom: 10px;   

}
.card2
{
    margin-left: 0px;
    margin-right: 30px;
}

button
{
    position: absolute;
    border-radius: 5px;
    color: white;
    background-color: var(--Very_dark_violet) ;
    width: 40vw;
    height: 6vh;
    font-family: var(--font2);


}

}
 */
