*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}



.formulario-new-account
{
    display: flex;
    flex-direction: column;
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
}


.formulario-new-account-inputs
{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    

}

.formulario-new-account-inputs label
{
    margin: 8px 0;
    font-size: 1.4rem;
    font-weight: 700;
}

.formulario-new-account-inputs input
{
    height: 40px;
    border-radius: 15px;
    padding: 5px;
}

.password-suggested
{
    font-size: 1.6rem;
    text-align: center;
    margin: 10px;
}
.botones-container
{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 15px;
}

.botones-container input
{
    width: 40%;
    padding: 5px;
    margin: 5px;
}